@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles for WebKit browsers */
.timeline-scroll-container::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.timeline-scroll-container::-webkit-scrollbar-track {
  background: #FFFFFF;
  border-radius: 4px;
}

.timeline-scroll-container::-webkit-scrollbar-thumb {
  background: #BCBBBB;
  border-radius: 4px;
  border: 2px solid #FFFFFF;
}

.timeline-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #FBBC05;
}

/* Hide scrollbar but keep functionality */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.map-marker {
  width: 25px !important;
  height: 25px !important;
  background: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FBBC05;
  text-align: center;
  border:3px solid #FFFFFF;
}

.map-marker-text {
  color: #FFFFFF;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
  -webkit-tap-highlight-color: transparent; /* mobile pe bhi help karta hai */
}